<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDre7ULnGWrhPvx5D3AL4L7J1K1MN69JnU</string>
	<key>GCM_SENDER_ID</key>
	<string>496432202958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alba.agent-app</string>
	<key>PROJECT_ID</key>
	<string>agent-app-2cc24</string>
	<key>STORAGE_BUCKET</key>
	<string>agent-app-2cc24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496432202958:ios:f42423229449b0f602fc9f</string>
</dict>
</plist>